@import "./theme.less";

md-icon:focus {
    outline: 0;
}

md-icon[ng-click] {
    cursor: pointer;
}

#google-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

md-list-item span.label {
    line-height: 48px;
    margin-left: 16px;
}

md-list-item span.icon {
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
}

md-list-item span.icon img {
    max-height: 40px;
    max-width: 40px;
}

md-sidenav {
    overflow: hidden;
    height: 100%;
}

md-sidenav > ng-view {
    height: 100%;
}

md-sidenav md-toolbar {
    padding: 0 16px;
}

md-sidenav header {
    position: relative;
    height: 171px;
    overflow: hidden;
}

md-sidenav section {
    min-height: 64px;
    line-height: 64px;
}

md-sidenav section > .md-icon-button:first-child {
    margin: 0;
}

md-sidenav content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

md-sidenav footer {
    height: 56px;
    text-align: center;
}

md-toolbar md-input-container {
    padding: 0;
}

md-sidenav md-content {
    padding: 0 16px;
}

.md-button[disabled] {
    cursor: default;
}

route-leg {
    position: relative;
    display: block;
    height: 144px;
    padding: 0 16px;
}

route-leg:focus, route-leg.selected {
    background-color: @C200;
    outline: none;
}

route-leg:hover {
    background-color: @C200;
}

route-leg label {
    display: block;
    margin-left: 56px;
    line-height: 48px;
}

route-leg label:last-child {
    position: absolute;
    top: 96px;
}
