<header>
    <img src="assets/bcdining.jpeg" height="171" />
</header>
<section>
    <md-button class="md-icon-button" aria-label="Return to search result" ng-click="back()">
        <md-icon>&#xE5C4;</md-icon>
    </md-button>
</section>
<content flex>
    <route-leg ng-repeat="leg in legs" ng-click="setLeg($index)" ng-class="{selected: $index==getLeg()}"></route-leg>
</content>
<footer>
    <md-button class="md-raised" ng-disabled="isFirstLeg()" ng-click="prevLeg()">Previous</md-button>
    <md-button class="md-raised md-accent" ng-disabled="isLastLeg()" ng-click="nextLeg()">Next</md-button>
</footer>
